<% if current_user and current_user.auth_level >= 90 %>


<p>
  <strong>Email:</strong>
  <%= @surveydatum.email %>
</p>

<p>
  <strong>Surveyresponse:</strong>
  <%= simple_format(@surveydatum.surveyresponse) %>
</p>

<%= link_to 'Edit', edit_surveydatum_path(@surveydatum) %> |
<%= link_to 'Back', surveydata_path %>


<% else %>
<h1>Not authorized</h1>

<% end %>