.container a {
	color: inherit;
}

.content img {
	max-width: 100% !important;
}

.content > section {
	padding: 15px 0px;
}

.header_title {
	line-height: 1.4;
}

#logo {
	margin-right: 20px;
}

#blog_name {
	margin-left: 20px;
}


#admin_login {
	font-size: 13px;
	color: black;
	float: right;
	position: relative;
	top: 20px;
	right: 20px;
}



/* orange */
.post-header > h1 > a, h2 {
	color: #f39b13;
}

/* green */
.posted, h1 {
	color: #1bbc9b;
}