body, html {
    font-family: "Helvetica Neue", Helvetica, sans-serif;  
    margin: 0;
}

header .title {
    font-size: 6em;
    font-variant: small-caps;
    text-align: center;
}

header .subtitle {
    text-align: center;
    font-style: oblique;
}

main {
    width: 90vw;
    margin: 0 auto;
    text-align: center;
}

img {
    width: 150px; height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

figure.img, figure {
    width: 150px; height: 200px;
    background-color: rgb(50,50,50);
    border-radius: 10px;
    display: inline-block;
    margin: 20px 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

figcaption {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-weight: 100;
    letter-spacing: 0.05em;
}

header#game {
    background: url(gamePic.JPG);
    height: 500px;
    background-size: cover;
}

main#game {
    text-align: left;
    position: absolute;
    left: 10px;
}

article.userRant {

}

.user {
    color: rgb(150,150,150);
}

.timestmp {
    color: rgb(150,150,150);
}

.timestmp::before {
    content: "• ";
}

.level1 {
    margin-top: 10px;
}

.level2 {
   margin-left: 30px;
}