/* line 1, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/editUser.scss */
#editUser {
  margin-top: 40px;
  margin-bottom: 15px;
}

/* line 6, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/editUser.scss */
#page i {
  font-size: 1.1em;
  color: #30D1E4;
  /* space to seperate password fields */
  padding-top: 15px;
  padding-bottom: 20px;
  display: block;
}

/* line 15, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/editUser.scss */
.field_with_errors {
  display: inline;
}

/* line 17, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/editUser.scss */
label.optional {
  margin-right: 10px;
}

/* line 23, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/editUser.scss */
.field label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  text-align: right;
}
/* line 31, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/editUser.scss */
.field label + input {
  width: 25%;
  margin: 0 10% 0 4%;
}

/* line 39, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/editUser.scss */
.field > div label {
  width: 30%;
  text-align: right;
}
/* line 44, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/editUser.scss */
.field > div label + select, .field > div label + input {
  width: 25%;
  margin: 0 10% 0 4%;
  font-size: 14px;
}
/* line 50, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/editUser.scss */
.field > div .radio {
  display: inline-block;
}
/* line 54, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/editUser.scss */
.field > div label + .radio {
  width: 8%;
  margin: 0 2% 0 2%;
}
/* line 59, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/editUser.scss */
.field > div label + .radio + .radio {
  width: 13%;
  margin: 0 12% 0 2%;
}

/* line 66, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/editUser.scss */
select {
  /* drop down list display */
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #546E7A;
  font-size: 14px;
}

/* line 74, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/editUser.scss */
#popupButton {
  align: center;
}

/* line 79, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/editUser.scss */
#coins p {
  margin: 30px;
  font-size: 1.7em;
}

/* line 84, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/editUser.scss */
.alert-error {
  width: 50%;
  margin: 10px auto;
}

@media (max-width: 768px) {
  /* line 90, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/editUser.scss */
  .alert-error {
    width: 100%;
  }

  /* line 94, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/editUser.scss */
  .field label + input {
    width: 40%;
  }

  /* line 99, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/editUser.scss */
  .field > div label + select, .field > div label + input {
    width: 30%;
  }
  /* line 103, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/editUser.scss */
  .field > div label + .radio + .radio {
    width: 18%;
  }
}
