/* line 6, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/global.scss */
.thin {
  font-weight: 300;
}

/* line 8, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/global.scss */
.pointer {
  cursor: pointer;
}

/* line 9, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/global.scss */
.relative {
  position: relative;
}

/* line 10, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/global.scss */
.absolute {
  position: absolute;
}

/* line 11, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/global.scss */
.right-align {
  text-align: right;
}

/* line 12, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/global.scss */
.left-align, .box-wrapper .box {
  text-align: left;
}

/* line 13, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/global.scss */
.uppercase, .caps {
  text-transform: uppercase;
}

/* line 15, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/global.scss */
.clearfix {
  zoom: 1;
  position: relative;
}
/* line 18, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/global.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  zoom: 1;
}
/* line 19, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/global.scss */
.clearfix:after {
  clear: both;
}

/* line 23, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/global.scss */
.ib {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* line 27, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/global.scss */
.ib.middle {
  vertical-align: middle;
}

/* line 30, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/global.scss */
.center {
  text-align: center;
}
/* line 32, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/global.scss */
.center img {
  margin: 0 auto;
}

/* line 35, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/global.scss */
.smooth {
  transition: all 0.18s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* line 38, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/global.scss */
.smooth2 {
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* line 4, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
iframe {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: none;
}

/* line 25, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
body, html {
  font-family: 'nunito', sans-serif;
}

/* line 46, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
#page {
  padding: 100px;
}
@media (max-width: 727px) {
  /* line 46, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
  #page {
    padding-right: 30px;
    padding-left: 30px;
  }
  /* line 52, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
  #page .box-icon {
    width: 100px;
    margin-left: 70px;
  }
}

/* line 64, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
.box-ghost {
  border-radius: 5px;
  position: relative;
  border: 2px solid #98ABB9;
  padding: 30px;
  margin-bottom: 30px;
}
/* line 68, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
.box-ghost h1, .box-ghost h2, .box-ghost h3, .box-ghost h4, .box-ghost h5, .box-ghost h6, .box-ghost {
  color: #768b9d;
}
/* line 69, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
.box-ghost h1 strong, .box-ghost h2 strong, .box-ghost h3 strong, .box-ghost h4 strong, .box-ghost h5 strong, .box-ghost h6 strong, .box-ghost strong {
  color: #3e4f60;
}

/* line 72, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
.box-icon {
  position: absolute;
  top: -10px;
  left: -130px;
}
/* line 74, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
.box-icon.small {
  transform: scale(0.5);
  transform-origin: 100% 0;
}
/* line 78, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
.box-icon img {
  position: relative;
  z-index: 100;
}
/* line 81, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
.box-icon:after {
  display: block;
  content: ' ';
  height: 65px;
  background: #b3c0c7;
  border-radius: 100%;
  position: absolute;
  top: 65%;
  width: 90%;
  left: 5%;
}

/* line 89, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
.box-wrapper {
  border: 6px solid rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  position: relative;
  margin-bottom: 30px;
}
/* line 90, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
.box-wrapper.icon {
  width: 94%;
  width: calc(95% - 12px);
  position: relative;
  left: 5%;
}
/* line 92, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
.box-wrapper.icon .box {
  padding: 30px 40px 30px 60px;
}
/* line 100, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
.box-wrapper:last-child {
  margin-bottom: 0;
}
/* line 101, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
.box-wrapper .box {
  background: white;
  padding: 30px;
  color: #444444;
  border-radius: 10px;
  border: 2px solid #B0BECC;
}
/* line 103, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
.box-wrapper .box h1, .box-wrapper .box h2, .box-wrapper .box h3, .box-wrapper .box h4, .box-wrapper .box h5, .box-wrapper .box h6 {
  color: #E06B00;
  font-weight: bold;
}
/* line 105, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
.box-wrapper .box h1.blue, .box-wrapper .box h2.blue, .box-wrapper .box h3.blue, .box-wrapper .box h4.blue, .box-wrapper .box h5.blue, .box-wrapper .box h6.blue {
  color: #1e68b5;
}
/* line 112, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
.box-wrapper .box .light {
  color: #99a0aa;
}
/* line 119, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
.box-wrapper p {
  margin-bottom: 10px;
  line-height: 1.6;
  font-size: 18px;
}
/* line 120, /Users/wanqi/Downloads/willowflare 2/app/assets/stylesheets/landingPage.scss */
.box-wrapper p:last-child {
  margin-bottom: 0;
}
