.innerPageBanner{float:left;width:100%;background:#2e3440;padding:100px 0 50px;text-align:center;}
.innerPageBanner h1{float:left;width:100%;color:#FFF;font-size:33px; font-weight:100;}
.innerPageBanner p{float:left;width:100%;color:#FFF;font-size:18px; font-weight:100;margin-top:10px;}
.innerPageBanner h1 span{color:#faae4b;font-weight:600;}

.inner-hd{background:#20272f image-url("header-small.png") no-repeat center;}


.account-form{float:left;width:100%;padding:50px 0;}
.account-form h2{float:left;width:100%;padding:0;font-size:30px;margin-bottom:10px;font-weight:500;color:#3c3c3c;}
.account-form h2 span{color:#1bbc9b;}
.account-form p{float:left;width:100%;padding:0 0 0 20px;font-size:18px;font-weight:300;color:#232323;border-left:1px solid #bbbbbb;}
.account-form p span{color:#1bbc9b;font-weight:500;}

.alert-info{width:100%;float:left;background:#d6fff7;position:relative;font-size:24px;color:#3c3c3c;padding:20px 20px 20px 100px;margin:15px 0 30px 0;}
.alert-info span{color:#1bbc9b;font-weight:500;}

.img-sec{position:absolute;left:0;bottom:-25px;}

.form-fields{float:left;width:100%;margin:15px 0;}
.form-block{float:left;width:33.33%;margin-bottom:50px;}
.center{text-align:center;}
.right{text-align:right;}
.select-style {
	display:inline-block;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #8c8c8c;
    width:94%;
    overflow: hidden;
    background-color: #fff;
    background: #fff image-url("drop-arrow.png") no-repeat 98% 50%;
}

.select-style select {
    padding: 8px;
	color:#464646;
	font-size:18px;
	font-weight:100;
	float:left;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-overflow: ellipsis;
    white-space: nowrap;
}

.form-block input[type="text"] {
    padding: 8px;
	color:#464646;
	font-size:18px;
	font-weight:100;
	float:left;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


.select-style select:focus {
    outline: none;
}

.lbl{background:none;}

.update-btn{display:inline-block;cursor:pointer;background:#1bbc9b;color:#FFF;font-size:18px;padding:15px 0;width:60%;border:0;border-radius:50px;}
.update-btn:hover{background:#04a382;}

.yellow{background:#fff4dd;color:#464646;font-size:18px;padding-left:20px;font-weight:100;}
.fr{float:right;}

.form-block label{font-size:18px;font-weight:100;color:#464646;margin: 10px 15px 0 0;}
label.title {float: left;margin: 10px 15px 0 0;}
.form-block [type="radio"]{margin:0 5px 0 0;}


.form-block input[type=checkbox]:not(old),
.form-block input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

.form-block input[type=checkbox]:not(old) + label,
.form-block input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

.form-block input[type=checkbox]:not(old) + label > span,
.form-block input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 0.875em;
  height           : 0.875em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 50%;
  background       : #999999;
  vertical-align   : bottom;
}

.form-block input[type=checkbox]:not(old):checked + label > span,
.form-block input[type=radio   ]:not(old):checked + label > span{
	background       : #3c3c3c;

}

.form-block input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : rgb(153,204,102);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}

.form-block input[type=radio]:not(old):checked +  label > span > span{
  display          : block;

}

/* products */

.product-list{float:left;width:100%;}
.product-list ul{float:left;width:100%;margin:100px 0 50px;}
.product-list ul li{float:left;width:25%;text-align:center;margin-bottom:50px;padding:0 15px;}
.info-block{float:left;background:#1bba9a;position:relative;border-radius:5px;width:100%;overflow: hidden;}
.block-img{float:left;width:100%;}
.info-block img{width:100%;float:left;}
.price-info{float:left;width:100%;padding:15px;}

.price {color: #fff;float: left;font-size: 16px;font-weight: 100;overflow: hidden;padding: 8px 0;text-overflow: ellipsis;white-space: nowrap;
  width: 50%;text-align: left;}
.price strong{font-weight:600;}
.buy-btn {float:right;width: 50%;text-align: right;}
.buy-btn a{display:block;padding:10px 0;font-size:14px;text-align:center;color:#1bba9a;background:#FFF;border-radius:5px;text-decoration:none;}
.buy-btn a:hover{background:#e7e7e7;}

.comming-soon{background:#bbeae2;color:#FFF;height:255px;width:100%;padding-top:35%;}
.cmg-text{color:#FFF;font-weight:600;font-size:25px;}

.offer-tag{position:absolute;top:15px;left:0;}

.points{width: 120px; height: 50px; text-overflow:ellipsis;white-space:nowrap;padding: 15px 10px; position: relative; background: #f8ae4d; color: #FFF; font-size: 14px; text-align: left;background:image-url("tag.png") no-repeat center;}


/* products */


/* Game-listing */

.info-banner{float:left;width:100%;background:#2e3440;background: image-url("small-banner.jpg");min-height:212px;background-size:cover;margin-top:50px;}

.sr-fields{float:left;width:400px;position:relative;margin:0 20px 0 0;}
.search-sec{background:#e9fbf7;padding:30px 0;float:left;width:100%;}

.sr-fields input[type="text"]{border:1px solid #29d4b1;padding:10px 50px 10px 15px;width:100%;background:#FFF;color:#bdbdbd;font-size:18px;border-radius:5px;float:left;}
.sr-fields select{border:1px solid #29d4b1;padding:10px 50px 10px 15px;width:100%;background:#FFF;color:#bdbdbd;font-size:18px;border-radius:5px;float:left;    box-shadow: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;text-overflow: ellipsis;white-space: nowrap;}
.search-sec .select-style{border:none;width:100%;}
.search-sec .select-style select{border:1px solid #29d4b1;width:100%;padding:9px 15px;border-radius:5px;}


.search{position:absolute;right:0;top:5px;background: image-url('search-icon.png');background-position:center;background-repeat:no-repeat;width:50px;height:40px;border:none;cursor:pointer;}
.small-wid{width:250px;margin:0;}



.listing{float:left;width:100%;margin-bottom:50px;}
.listing ul{float:left;width:100%;}
.listing ul li{padding:30px 0;float:left;width:100%;}

.product-img{float:left;width:17%;margin:0 3% 0 0;border-radius:10px;overflow:hidden;}
.product-img img{width:100%;float:left;}
.product-info{float:left;width:60%;}
.product-info h2{font-size:30px;font-weight:600;color:#333333;}
.product-info h6{font-size:18px;font-weight:300;color:#333333;}
.product-info p{font-size:20px;font-weight:300;color:#333333;}
.product-info a{background:#29d4b1;display:inline-block;margin-top:20px;font-size:20px;text-decoration:none;color:#FFF;padding:10px 25px;border-radius:5px;}
.product-info a:hover{background:#1cc09e;}
.listing .price{float:right;width:20%;text-align:center;position:relative;}

.rounded-ft{height:136px;width:136px;display:inline-block;border-radius:50%;border:1px solid #29d4b1;color:#333333;text-align:center;padding-top:22%;font-size:26px;}
.listing .price p{font-size:20px;font-weight:300;color:#333333;padding:10px 0;}

.sold-out{position:absolute;top:0;margin:0 auto;background: image-url('sold-out.png');background-position:center;background-repeat:no-repeat;width:100%;height:214px;left:0;}


.game-detail{float:left;width:100%;margin-top:80px;}

.breadcrum{float:left;width:100%;padding:40px 0;}
.breadcrum span{font-size:14px;color:#333333;font-weight:100;}
.breadcrum span a{color:#29d4b1;text-decoration:none;}

.detail-block{float:left;width:100%;}
.lf-dt{float:left;width:68%;}
.rg-dt{float:right;width:30%;}

.add-block{float:right;width:96%;border:1px solid #e8e8e8;padding:15px;border-radius:5px;margin-bottom:15px;}
.img-bg{float:left;width:100%;margin-bottom:15px;border-radius:5px;overflow:hidden;}
.img-bg img{float:left;width:100%;}
.add-block .product-info{float:left;width:100%;}
.add-block h2{font-size:28px;font-weight:600;color:#333333;float:left;width:100%;}
.add-block h6{font-size:16px;font-weight:300;color:#333333;float:left;width:100%;}
.add-block p{font-size:15px;font-weight:300;color:#333333;float:left;width:100%;}
.add-block a{background:#29d4b1;display:inline-block;margin-top:20px;font-size:18px;text-decoration:none;color:#FFF;padding:10px 25px;border-radius:5px;}

.crousel{float:left;width:100%;border:1px solid #e8e8e8;margin:40px 0; padding:40px 0;}
.crousel .bx-wrapper .bx-prev{left:-50px;}
.crousel .bx-wrapper .bx-next{right: -50px;}
.social-t a{padding:0;background:none;margin:0;display:inline-block;position:relative;top:8px;margin:0 5px 0 0}
.social-t a img{float:left;}
.game-detail .product-info{}
.game-detail .social-t{display:inline-block;margin:0 0 0 50px;}
.social-t a:hover{opacity:0.8;}
/* Game-listing */





/* media */

@media only screen and (max-width:1200px) {
.sr-fields, .small-wid{width:40%;}
.search-sec .select-style select{ width: 99%;}  
}
@media only screen and (max-width:980px) {
.form-block{width:50%;float:left !important;min-height: 60px;text-align:left !important;}
label.title {float: left;margin: 0 20px 0 10px;}
.product-list ul li{width:33.33%;}

.product-img{width:20%;}
.product-info{width:40%;}
.listing .price{width:30%;}
.lf-dt{float:left;width:60%;}
.rg-dt{float:right;width:35%;}
.crousel .bx-wrapper .bx-prev{left:50px;}
.crousel .bx-wrapper .bx-next{right: 50px;}
.game-detail .social-t{display:inline-block;margin:10px 0 0 ;}
}

@media only screen and (max-width:767px) {
.form-block{width:100%; }
.innerPageBanner h1, .account-form h2{font-size:22px;text-align:center;}
.innerPageBanner p, .account-form p{font-size:14px;text-align:center;padding:0;border:none;}
.alert-info{font-size:16px;padding:15px;text-align:center;}
.img-sec {bottom: -20px;left: 0;position: absolute;}
label.title{width:100%;margin:0}
.form-block{min-height:auto;margin-bottom:15px;}
.img-sec{display:none;}
.select-style select, .form-block input[type="text"], .form-block label, .update-btn {font-size:14px;}
.product-list ul li{width:50%;}
.product-list ul{margin:50px 0;}

/* .product-img{width:20%;}
.product-info{width:50%;}
.listing .price{width:30%;} */

.product-img{width:30%;display:inline-block;margin:0 auto;float:none;}
.product-info{width:100%;}
.listing .price{width:100%;}
.listing ul li{border-bottom:1px solid #29d4b1;text-align:Center;padding-bottom:10px;}
.rounded-ft{padding-top:50px;margin-top:20px;}
.sold-out{width:100%;}
.sr-fields, .small-wid{width:40%;}
.search-sec .select-style select {padding: 13px 15px;}
.lf-dt{float:left;width:100%;margin-bottom:20px;}
.rg-dt{float:right;width:100%;}
.game-detail .social-t{display:block;}

}

@media only screen and (max-width:568px) {
.product-list ul li{width:100%;}
.product-info h2{font-size:20px;}
.product-info h6{font-size:14px;}
.product-info p, .product-info a, .price p{font-size:14px;}
.sr-fields{width:99%;margin-bottom:15px;}
.small-wid{width:100%;}
#tabs__panel_index-0 > p{font-size:14px;}


}
@media only screen and (max-width:360px) {
.info-banner{margin:0;}
  
}