@-webkit-keyframes colorCycle {
    0%      {background-color: crimson;}
    10%     {background-color: coral;}
    20%     {background-color: yellow;}
    30%     {background-color: chartreuse;}
    40%     {background-color: aqua;}
    50%     {background-color: blue;}
    60%     {background-color: blueviolet;}
    70%     {background-color: darkviolet;}
    80%     {background-color: mediumvioletred;}
    90%     {background-color: palevioletred;}
    100%    {background-color: pink;}
}

@keyframes colorCycle {
    0%      {background-color: crimson;}
    10%     {background-color: coral;}
    20%     {background-color: yellow;}
    30%     {background-color: chartreuse;}
    40%     {background-color: aqua;}
    50%     {background-color: blue;}
    60%     {background-color: blueviolet;}
    70%     {background-color: darkviolet;}
    80%     {background-color: mediumvioletred;}
    90%     {background-color: palevioletred;}
    100%    {background-color: pink;}
}