.showPostGroup {
    width: 90vw;
    margin: 50px auto 0px auto;
    background-color: #EDF5FC;
    padding: 10px;
    border-radius: 7px;
}

.comments_title {
    text-align: right;
    display: inline-block;
}

.comments_wrapper {
    display: block;
    width: 90vw;
    margin: 10px auto 0px auto;
    background-color: #EDF5FC;
    padding: 10px;
    border-radius: 7px;
}

.pull-left {
    float: none !important;
}