#editUser {
	margin-top: 40px;
	margin-bottom: 15px;
}

i {
	font-size: 1.1em;
	color: #30D1E4;
	/* space to seperate password fields */
	padding-top: 15px;
	padding-bottom: 20px;
	display: block;
}

.field_with_errors { display: inline; }

label.optional {
	margin-right: 10px;
}


.field {
	label {
		-webkit-box-sizing: border-box;
     	-moz-box-sizing: border-box;
        box-sizing: border-box;
	    width: 40%;
	    text-align: right;
	}

	label + input {
	    width: 25%;
	    margin: 0 10% 0 4%;
	}
}


.field > div {
	label {
	    width: 40%;
	    text-align: right;
	}

	label + select, label+input {
	    width: 15%;
	    margin: 0 20% 0 4%;
	    font-size: 14px;
	}

	.radio {
		display: inline-block;
	}

	label + .radio{
		width: 8%;
	    margin: 0 2% 0 2%;
	}

	label + .radio + .radio {
		width: 13%;
	    margin: 0 12% 0 2%;
	}
}


select { /* drop down list display */
	font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #546E7A;
    font-size: 14px;
}



#popupButton {
	align: center;
}


#coins p {
	margin: 30px;
	font-size: 1.7em;
}

.alert-error {
	width: 50%;
	margin: 10px auto;
}

@media (max-width: 768px) {
	.alert-error {
		width: 100%;
	}

	.field label + input {
		width: 30%;
	}

	.field > div {
		label + select, label+input {
	    	width: 20%;
	    }

	    label + .radio + .radio {
	    	width: 18%;
	    }
	}
}