// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "global";


a, a:link, a:hover, a:active, a:visited {
    color: #777;
}

a:hover, ul, li {
    background-color: none;
}

thead {
    display: none;
}

table {
    width: 95vw;
    margin: 0 auto;
    margin-top: 47px;
    background-color: white;
    border-radius: 7px;
    box-sizing: padding-box;
}

tr {
    display: block;
    min-height: 60px;
    background-color: #EDF5FC;
    border-radius: 7px;
    margin: 10px auto;
    margin-bottom: 17px;
    padding: 5px;
    width: 97%;
}

.linkElement {
    display: block;
    font-family: 'Verdana';
    margin-bottom: 9px;
}

.linkTitle {
    color: $iceblue;
    font-size: 2.3em;
}

.linkContent {
    color: black;
    font-size: 1.2em;
    text-align: left;
    text-indent: 3em;
}





body,html {font-family: 'nunito', sans-serif;}







#page {
  padding: 100px;

  @media (max-width: 767px) {
    padding-top: 60px;
    padding-right: 0px;
    margin-right: -3%;
    padding-left: 3%;

    .box-icon {
      width: 80px;
      margin-left: 80px;
    }
  }

}


#tagline {
  @media(max-width: 767px) {
    // squzze some space for mobile
    margin-top: -30px;
    margin-bottom: -20px;
  }
}




.box-ghost {
  border-radius: 5px; position: relative;
  border: 2px solid $lightblue;
  padding: 30px; margin-bottom: 30px;
  h1,h2,h3,h4,h5,h6, & { color: 0.5 * $darkblue + 0.5 * $lightblue; 
    strong { color: $darkblue * 0.75; }
  }
}

.box-icon {
  max-width: 180px;
  max-height: 180px;
  position: absolute; top: -10px; left: -130px;
  &.small {
    transform: scale(0.5);
    transform-origin: 100% 0;
  }
  img {
    position: relative; z-index: 100;
  }
  &:after {
    @media(min-width: 768px) { // only show drop-shadow on desktop
      display: block; content: ' ';
      height: 65px;
      background: #C7D5DD * 0.9;
      border-radius: 100%;
      position: absolute; top: 65%; width:90%; left: 5%;
    }
  }
}

.box-wrapper {
  &.icon {
    width: 94%; width: calc(95% - 12px); position: relative; left: 5%;
    
    .box {
      padding: 30px 40px 30px 60px;

      @media(max-width: 767px) {
        padding: 3%;
      }
    }
  }
  border: 6px solid rgba(0,0,0,0.08);
  border-radius: 16px;
  position: relative;
  margin-bottom: 30px;
  &:last-child { margin-bottom: 0; }
  .box {
    background: white; padding: 30px;
    h1,h2,h3,h4,h5,h6 {
      color: $orange; font-weight: bold;
      &.blue {color: saturate($darkblue, 50%);}
    }
    color: #444444;
    @extend .left-align;
    border-radius: 10px;
    border: 2px solid #B0BECC;

    .light {
      color: #99a0aa;

      @media(max-width: 767px) {
        display:none; // hide time posted on mobile
      }
    }
  }



  p {margin-bottom: 10px; line-height: 1.6; font-size: 18px;}
  p:last-child {margin-bottom: 0;}
}
