@import "global";

html,body {
   /* -webkit-animation: colorCycle 10s infinite;
    animation: colorCycle 10s infinite;*/
    /*background-color: crimson;*/
}

#new_user {
    text-align: center;
    margin-top: 25px;
}

.deviseOtherOptions {
    margin-top: 30px;
}

form .field {
    margin: 6px;
}

form .actions {
    padding-top: 10px;
}

.field input {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #546E7A;
    text-align: left;
    padding: 3px 7px;
    font-size: 27px;
    border: none;
    border-radius: 10px;
    font-weight: 200;
    width: 400px;
}

@media (max-width: 568px) {
    .field input, .field label {
        border-radius: 10px;
        margin: 3px 0px;
    }
}

.field input:focus{
   outline: none;
}

.field > label{
    margin: 0;
    border: none;
    box-sizing: border-box;
    background-color: #A39BA8;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    line-height: 30px;
    padding: 3px 10px;
    font-size: 30px;
    font-weight: 200;
}

.radio {
    display: inline;
    margin: 0px 10px;
}

.checkbox label {
    background: none;
    border: none;
    font-size: 1em;
}

input#user_remember_me {
    margin-top: 10px;
}
