@import "global";
@import "landingPage";

hr {
  margin: 20px 0px;
  border-width: 1px;
  color: #eee;
}

#forum_announcement {
  left: 0%;
  width: 100%;
}


#navGreeting {
  color: $iceblue;
  font-weight: 300;
  font-size: 22px;
}

#forum_announcement {
  .box-icon {
    margin-top: 20px;
    margin-left: 50px;
  }

  .box {
    padding-top: 85px;
  }

  margin-bottom: 30px;
}


.thredded--topics--posts-count > a {
  text-decoration: none;
  color: inherit;
}