.container-fluid#video(style="margin: 35px;")
  .embed-responsive.embed-responsive-16by9
    // english promo video
    %iframe(width="560" height="315" src="https://www.youtube.com/embed/6B0j_LNxWSk?ecver=1" frameborder="0" allowfullscreen)


/ START THE FEATURETTES
.container
  %hr.featurette-divider
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        Instant Access to Thousands of Real Players
        %br
        %span.text-muted 
      %p.lead We have access to a huge pool of vocal players on our platform that are willing to give feedback on your games. These are not just beta testers-- they come from all backgrounds and demographics and will provide you with an unbiased, representative sample for your game development needs.
    .col-md-5
      =image_tag("mobile_players.png", class: "featurette-image img-fluid center-block")
  %hr.featurette-divider
  .row.featurette
    .col-md-5.col-md-push-7
      %h2.featurette-heading
        Qualitative with Quantatitive Analysis 
        %br
        %span.text-muted 
      %p.lead You may already have access to backend app data; but now combine those figures with the "Whys". Attrition, monetization, retention- put a story to those numbers.

    .col-md-7.col-md-pull-5
      =image_tag("data_analytics.jpg", class: "featurette-image img-fluid center-block", style: "height: 60%;")
  %hr.featurette-divider
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        Distribution to China
        %br
        %span.text-muted 
      %p.lead Ever wanted to break into the largest mobile gaming market in the world? We have contacts at many major Chinese game distributors. If you've ever thought about tapping into a market of 1 Billion+ mobile phone users, take the risk away and work with one of our distribution partners for easy access and localization.
    .col-md-5
      =image_tag("chinese_publishers.png", class: "featurette-image img-fluid center-block")
  %hr.featurette-divider





  %section#contact
    .container
      .row
        .col-lg-12.text-center
          %h2.section-heading Ready to level up your game?
          %h3.section-subheading.text-muted Start your free trial today!
      .row
        .col-lg-12
          = form_tag "/mail", :id => "contactForm", :name => "sentMessage" do
            .row
              .col-md-4.col-md-offset-1
                .form-group
                  %input#name.form-control{"data-validation-required-message" => "Please enter your name.", :placeholder => "Name", :required => "", :type => "text", :name => "name"}/
                  %p.help-block.text-danger
                .form-group
                  %input#email.form-control{"data-validation-required-message" => "Please enter your email address.", :placeholder => "Email", :required => "", :type => "email", :name => "email"}/
                  %p.help-block.text-danger
                .form-group
                  %input#phone.form-control{:placeholder => "Company (optional)", :type => "text", :name => "org"}/
                  %p.help-block.text-danger

                
              .col-md-3(style="display:none;")
                .form-group
                  %input#phone.form-control{:placeholder => "Game Name", :type => "text", :name => "game"}/
                  %p.help-block.text-danger
                .form-group
                  %input#phone.form-control{:placeholder => "App Store Link", :type => "text", :name => "app_store_link"}/
                  %p.help-block.text-danger
                .form-group
                  %input#phone.form-control{:placeholder => "Google Play Link", :type => "text", :name => "google_play_link"}/
                  %p.help-block.text-danger

              .col-md-6
                .form-group
                  %textarea#message.form-control{"data-validation-required-message" => "Please enter a message.", :placeholder => "Tell us about your game!", :required => "", :name => "message"}
                  %p.help-block.text-danger
              .clearfix
              .col-lg-12.text-center
                #success
                %button.btn.btn-xl{:type => "submit"} Submit

