= stylesheet_link_tag 'companies', media: 'all', 'data-turbolinks-track' => true

= javascript_include_tag 'application', 'data-turbolinks-track' => true


%h1 COMPANIES
%p 一站式，个性化的手游出海解决方案 – 在美国的我们比任何人都了解北美手游玩家和市场。 

=social_share_button_tag(current_user.username)

%p 不仅仅是本地化，而是深度文化契合。

%p 靠谱的翻译和美术难找？ 中西方文化差异太大？

%p 我们的翻译团队由真正的双语玩家组成，他们的任务绝不仅仅是将中文翻译成英文，而是在翻译过程中根据每个游戏特质将几十年积累的西方游戏文化融入到本地化过程中，提供给客户真正的深度优化。我们与北美本地美工和开发团队合作，提供UI，人物，内容，美术和商店描述的全面服务，调出真正符合北美玩家口味的游戏。



%p 北美玩家真人众测，倒量预热。
改什么？怎么改？自然量从哪来？

%p 北美市场早已进入精品化时代，像COK这样的成功案例告诉我们，了解北美玩家的喜好，根据玩家需求不停地迅速迭代更新才是制胜之道。现在再也不用去新西兰或者加拿大找少量的玩家测试了，我们不仅仅提供前期倒量，更重要的是我们平台的玩家还会提供最细致的反馈和数据，加上本地专家的多年经验，我们提供的修改意见已经经过了市场的考验。北美最好的推广模式莫过于口耳相传，质量提高了，好酒不怕巷子深。


%p 新兴推广渠道，低价高回报。
怎样地推？找谁发行？

%p 一切以数据为准！ 根据数据分析玩家的喜好和市场规律，我们为客户量身打造详细的推广计划并推荐最适合的渠道。 经过多年的实践，我们积累了一个北美发行和推广渠道的“藏宝图”。游戏的前期数据就是藏宝图上的路标，我们会根据游戏特有的性质，和客户并肩战斗去争取最高的ROI。我们的宗旨是做客户在北美的合作伙伴，只有当客户盈利时我们才盈利。

