#games
  .row
    .col-lg-12
      %header Games
  .container-fluid
    .col-lg-3.col-md-4.col-sm-6.col-xs-12
      .gameBox
        %img{:src => "https://lh3.googleusercontent.com/30koN0eGl-LHqvUZrCj9HT4qVPQdvN508p2wuhaWUnqKeCp6nrs9QW8v6IVGvGNauA=w10000"}/
        %label Minecraft
        %a(href="#")
          %h2 More info
        %a(href="#")
          %h4 Forum
        %a(href="#")iOS
        %a(href="#")Google Play
    .col-lg-3.col-md-4.col-sm-6.col-xs-12.col-md-4.col-sm-12
      .gameBox
        %img{:src => "http://www.ost-center.com/contenu/jaquettes/jeu-video/6500-01.jpg"}/
        %label Starcraft
    .col-lg-3.col-md-4.col-sm-6.col-xs-12.col-md-4.col-sm-12
      .gameBox
        %img{:src => "http://lorempixel.com/400/400"}/
        %label GameThree
    .col-lg-3.col-md-4.col-sm-6.col-xs-12.col-md-4.col-sm-12
      .gameBox
        %img{:src => "http://lorempixel.com/401/401"}/
        %label GameFour
    .col-lg-3.col-md-4.col-sm-6.col-xs-12.col-md-4.col-sm-12
      .gameBox
        %img{:src => "http://lorempixel.com/437/437"}/
        %label GameFive
    .col-lg-3.col-md-4.col-sm-6.col-xs-12.col-md-4.col-sm-12
      .gameBox
        %img{:src => "http://lorempixel.com/403/403"}/
        %label GameSix
    .col-lg-3.col-md-4.col-sm-6.col-xs-12.col-md-4.col-sm-12
      .gameBox
        %img{:src => "http://lorempixel.com/404/404"}/
        %label GameSeven
    .col-lg-3.col-md-4.col-sm-6.col-xs-12.col-md-4.col-sm-12
      .gameBox
        %img{:src => "http://lorempixel.com/405/405"}/
        %label GameEight
    .col-lg-3.col-md-4.col-sm-6.col-xs-12.col-md-4.col-sm-12
      .gameBox
        %img{:src => "http://lorempixel.com/406/406"}/
        %label GameNine
    .col-lg-3.col-md-4.col-sm-6.col-xs-12.col-md-4.col-sm-12
      .gameBox
        %img{:src => "http://lorempixel.com/407/407"}/
        %label GameTen
    .col-lg-3.col-md-4.col-sm-6.col-xs-12.col-md-4.col-sm-12
      .gameBox
        %img{:src => "http://lorempixel.com/408/408"}/
        %label GameEleven
    .col-lg-3.col-md-4.col-sm-6.col-xs-12.col-md-4.col-sm-12
      .gameBox
        %img{:src => "http://lorempixel.com/409/409"}/
        %label GameTwelve
