.container.welcome-page
  %h1#welcome Welcome, Willow!
  %h2#welcome-subtitle Here's how it works:
  %p#welcome-text Click on the orange bubbles to get started

  .poster.center
    .poster-wrapper
      =image_tag("WF_welcome_process.png", :class => "poster")

      %a#profile-link(href=edit_user_registration_path target='_blank') profile
      %a#games-link(href="/games" target='_blank') games
      %a#games-link-2(href="/games" target='_blank') games
      %a#survey-link(href="/games" target='_blank') survey1
      %a#survey-link-2(href="/games" target='_blank') survey1

      %a#bug-link(href="/blog/bug-bounty" target='_blank') bug report
      %a#bug-link-2(href="/blog/bug-bounty" target='_blank') bug report
      %a#survey23-link(href="/games" target='_blank') survey2+3
      %a#survey23-link-2(href="/games" target='_blank') survey2+3
      %a#store-link(href="/store" target='_blank') store
      %a#store-link-2(href="/store" target='_blank') store

    .buttons
      %a.play_now(href="/games") Play Now!
      %a.earn_rewards(href=edit_user_registration_path) Complete Profile
      %a.bug(href="blog/bug-bounty") Report a Bug

    / .buttons
    /   %a(href="#")=image_tag("potion.png")
    /   %a(href="#")=image_tag("potion.png")
    /   %a(href="#")=image_tag("potion.png")